
.outer {
  display : flex;
  align-items : center;
  justify-content: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#welcome{
height: 100%;

}


#jumbo{
  padding: 5px;
}

#button-primary{
  padding: 5px;


}
