.outer {
  display : flex;
  align-items : center;
  justify-content: center;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
/*Responsive Image for NavBar*/
.img-responsive {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}

ul{
  list-style-type:none;
  }

  li{
    list-style-type:none;
    }

#background-main
{
  width: 100%;
  z-index: 0;
}

.take-all-space-you-can{
  width:100%;
}

.container-1 {
  position: relative;
  width: 100%; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container-1 .content-1 {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

.icons {
  width: 125px !important;
  height: 125px !important;
  padding: 10px !important;
}

body {
  font-family: 'Roboto' !important;
}

.outer-container {
  position: relative;
  background-color: #0b72bd; 
}
#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0b72bd; /* could go on .outer-container as well */
}
.outer-container .your-content {
  position: relative;
  z-index: 1;
  background-color: transparent;
}
.white-h1 {
  color: white;
  background-color: transparent;
}
.btn-1 {
  border: 2px solid black;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 16px 16px;
  font-size: 16px;
  cursor: pointer;
}
.btn-2 {
  border: 2px solid #2196F3;
  background-color: #2196F3;
  color: white;
  border-radius: 10px;
  padding: 16px 16px;
  font-size: 16px;
  cursor: pointer;
}
.info {
  border-color: #2196F3;
  color: dodgerblue
}
.info:hover {
  background: #2196F3;
  color: white;
}
.eighty-width{
  max-width: 80%;
  margin: auto;
}


.graphs{
  width:75%;
  height:auto;
}
